
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2> Stylist details</h2>
<hr/>
<h3> @Html.DisplayNameFor(model => model.Name):@Html.DisplayFor(model => model.Name)</h3>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Cuisine", "Edit", new {id= Model.stylistId})</p>
